<div class="section text-center">

  <h1>College Details</h1>
  <h4>Create your account in easy steps with less<br>information.</h4>


</div>



<form class="example-form" [formGroup]="collegeDetailsForm" name="collegeDetailsForm" (ngSubmit)="onSubmit(collegeDetailsForm)">



  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="College Name" formControlName="collegeNameFormControl" [formControl]="collegeNameFormControl">

      <mat-error *ngIf="collegeDetailsForm.get('collegeNameFormControl').touched && collegeDetailsForm.get('collegeNameFormControl').invalid">


        <mat-error *ngIf="collegeNameFormControl.hasError('required')">
         College Name is <strong>required</strong>
        </mat-error>


      </mat-error>
    </mat-form-field>
  </div>



  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Address" formControlName="addressFormControl" [formControl]="addressFormControl">

      <mat-error *ngIf="collegeDetailsForm.get('addressFormControl').touched && collegeDetailsForm.get('addressFormControl').invalid">


        <mat-error *ngIf="addressFormControl.hasError('required')">
          Address is <strong>required</strong>
        </mat-error>


      </mat-error>
    </mat-form-field>
  </div>



  <div class="form-group">
    <mat-form-field class="example-half-width">
      <input matInput type="number" placeholder="Zip Code" formControlName="zipCodeFormControl" [formControl]="zipCodeFormControl">

      <mat-error *ngIf="collegeDetailsForm.get('zipCodeFormControl').touched && collegeDetailsForm.get('zipCodeFormControl').invalid">


        <mat-error *ngIf="zipCodeFormControl.hasError('required')">
          Zip Code <strong>required</strong>
        </mat-error>

        <mat-error *ngIf="zipCodeFormControl.hasError('maxLength')">
          Maximum 6 charcters required
        </mat-error>

      </mat-error>
    </mat-form-field>

  </div>


  <div class="form-group">
    <mat-form-field class="example-half-width" style="margin-left:23px">
      <input matInput placeholder="City" formControlName="cityFormControl" [formControl]="cityFormControl">

      <mat-error *ngIf="collegeDetailsForm.get('cityFormControl').touched && collegeDetailsForm.get('cityFormControl').invalid">

        <mat-error *ngIf="cityFormControl.hasError('required')">
          Enter Your <strong>City</strong>
        </mat-error>

      </mat-error>

    </mat-form-field>
  </div>



  <div class="form-group">
    <mat-form-field class="example-half-width">
      <input matInput placeholder="State" formControlName="stateFormControl" [formControl]="stateFormControl">

      <mat-error *ngIf="collegeDetailsForm.get('stateFormControl').touched && collegeDetailsForm.get('stateFormControl').invalid">

        <mat-error *ngIf="stateFormControl.hasError('required')">
          Enter Your <strong>State</strong>
        </mat-error>

      </mat-error>

    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="example-half-width" style="margin-left:23px">
      <input matInput placeholder="Country" formControlName="countryFormControl" [formControl]="countryFormControl">

      <mat-error *ngIf="collegeDetailsForm.get('countryFormControl').touched && collegeDetailsForm.get('countryFormControl').invalid">

        <mat-error *ngIf="countryFormControl.hasError('required')">
          Enter Your <strong>Country</strong>
        </mat-error>

      </mat-error>

    </mat-form-field>
  </div>


     
  <div class="form-group">
    <mat-form-field class="example-half-width">
      <input matInput type="number" placeholder="Admin Mobile Number" formControlName="adminMobileNumberFormControl" [formControl]="adminMobileNumberFormControl">

      <mat-error *ngIf="collegeDetailsForm.get('adminMobileNumberFormControl').touched && collegeDetailsForm.get('adminMobileNumberFormControl').invalid">


        <mat-error *ngIf="adminMobileNumberFormControl.hasError('required')">
          Admin Mobile number <strong>required</strong>
        </mat-error>

        <mat-error *ngIf="adminMobileNumberFormControl.hasError('maxLength')">
          Maximum 14 charcters required
        </mat-error>

      </mat-error>
    </mat-form-field>

  </div>


  <div class="form-group">
    <mat-form-field class="example-half-width" style="margin-left:23px">
      <input matInput type="number" placeholder="Land Lane Number" formControlName="landLaneNumberFormControl" [formControl]="landLaneNumberFormControl">

      <mat-error *ngIf="collegeDetailsForm.get('landLaneNumberFormControl').touched && collegeDetailsForm.get('landLaneNumberFormControl').invalid">

        <mat-error *ngIf="landLaneNumberFormControl.hasError('required')">
          Land Lane Number is <strong>required</strong>
        </mat-error>

      </mat-error>

    </mat-form-field>
  </div>




<div class="form-group">
    <button routerLink="./dashboard" mat-button type="submit"  class="btn btn-lg btn-primary btn-block btn-signin" [disabled]="collegeDetailsForm.invalid" routerLink="./dashboard">Register</button>
  </div>
</form>
 
<div class="text-center">
    <img src="./assets/image/college.png" class="img-responsive">
  </div>
