<div class="section text-center">

  <h1>Forgot Password?</h1>
  <h4>No problem! Enter your email with instruction <br> to reset your password has been sent to your<br> email id.</h4>

</div>
<div class="text-center">
  <img src="./assets/image/forgotpasswordImage.png" class="img-responsive">
</div>

<form class="example-form" [formGroup]="forgotPasswordForm" name="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm)">


  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="User Name or Email" formControlName="emailFormControl" [formControl]="emailFormControl">

      <mat-error *ngIf="forgotPasswordForm.get('emailFormControl').touched && forgotPasswordForm.get('emailFormControl').invalid">

        <mat-error *ngIf="emailFormControl.hasError('pattern')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('minLength')">
          Minimum 12 charcters required
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('maxLength')">
          Maximum 30 charcters required
        </mat-error>

      </mat-error>
    </mat-form-field>

  </div>


  <div class="form-group">
    <button mat-button type="submit" class="btn btn-lg btn-primary btn-block btn-signin" [disabled]="forgotPasswordForm.invalid">Send Request</button>
  </div>
</form>
