 
<app-dashboardheader></app-dashboardheader>  
<div class="section">
    <div class="container">
      <div class="row">
        <!-- <div class="col-md-12 col-sm-12 col-xs-12"> -->
        <div class="card">
  
          <ul class="nav nav-pills">
            <li [ngClass]="{'active': selectedItem == item.name}" (click)="listClick($event, item)" *ngFor="let item of employerDashboardNavpills">
              <a [routerLink]="['./'+item.link.toLowerCase()]"><strong>{{item.name}}</strong></a>
            </li>
          </ul>
          <!-- {{position}}
          {{firstName}} -->
        
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
  
   <router-outlet></router-outlet>

